
@media (max-width: 1000px) {
  .biografia--modificacion {
    flex-direction: column;
    align-items: center;
    margin-top: -60px;
  }
  // footer
  .footer--modificacion {
    flex-direction: column;
    align-items: center;
    padding-left: -5rem;
  }
  .redes--size {
    margin-left: -5rem;
    margin-bottom: 5rem;
  }

}

@media (max-width: 800px) {
    .conocimientos--modificacion {
      flex-direction: column;
      align-items: center;
    }
    .skill__lec {
      align-items: center;
       h4 {
         padding-left: 40%; 
       }
       .text__conocimiento {
          margin-left: 10%;
          width: 320%;
       }
    }

    .skill__tec {
      padding-top: 60px;
      
      h4 {
        padding-left: 35%;
        padding-bottom: 10px;
      }

    }

    #proyectos {
      align-items: center;
      text-align: center;
    }
    .seccion__proyectos--modificacion {
      padding-left: 20%;
    }
    
}
@media (max-width: 600px) {
  .seccion__proyectos--modificacion {
    padding-left: 10%;
  }
}
@media (max-width: 500px) {
  .biografia--modificacion {
    margin-left: 70px;
  }
  .img__biografia--modificacion {
    img {
      width: 10rem;
    }
  }
  .seccion__proyectos--modificacion {
    padding-left: 0%;
  }
  .skill__lec {
    align-items: center;
     h4 {
       padding-left: 30%; 
     }
  }
  .redes--size {
    margin-left: 0%;

  }
}
@media (max-width: 450px) {
  .seccion__proyectos--modificacion {
    margin-left: -14%;
  }
} 
