// colors
$color1: #131E40;
$color2: #818AA6;
$color3: #f1f1f0;
$color4: #0bb9b1;
$color5: #ADAABF;
$color6: #0D1117;
$color7: rgba(11, 173, 11, 0.952);
$color8: orange;

// fuentes de texto
$font1: 'Roboto', sans-serif;
$font2: 'Oswald', sans-serif;;
$font3: "Century Gothic", CenturyGothic;

// propiedades
$mayus: uppercase;