// variables
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body {
    background-color: $color1;
    font-family: $font1;
}
// colores de scroll
body::-webkit-scrollbar {
    width:  8px;
    background-color: $color1;
}
body::-webkit-scrollbar-thumb {
    background-color: $color2;
    border-radius: 5px;
}

@import "navBar";
@import "responsive";
@import "footer";

// biografia
.biografia--modificacion {
    display: flex;
    justify-content: center;
}
.biografia--size {
    padding-top: 150px;
}
.img__biografia--modificacion {
    overflow: hidden;
    border-radius: 20px;
    img {
        object-fit: cover;  
    }
    
}
.img__biografia--size {
    margin-left: -20px;
    img {
        width: 25rem;
        height: 22rem;
    }
}
.img__biografia--modificacion:hover img {
    // modificacion
    transform: scale(1.03);
    transition: 0.7s;
}
// text biografia
.text__biografia--size {
    margin-left: 20px;
    margin-top: 100px;
}
// text
.text__prenombre {
    // size
    font-size: 20px;
    // color
    color: $color4;
}
.text__nombre {
    // size
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: -20px;
    // color
    color: $color3;
}
.text__desarollador {
    // size
    font-size: 40px;
    margin-top: -20px;
    // color
    color: $color2;
}

// seccion proyectos
#proyectos {
    margin-top: 100px;
    margin-left: 5rem;
    margin-right: 5rem;
    h4 {
        color: $color4;
        padding-bottom: 20px;
    }
}
.seccion__proyectos--modificacion {
    // grid
    display: grid;
    grid-auto-rows: 18rem;
    gap: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}
// card proyectos
.proyectos--modificacion {
    position: relative;
    img {
        border-radius: 10px;
    }
}

.proyectos--size {
    width: 23rem;
    height: 15rem;
    img {
        width: 100%;
        height: 100%;
    }
}
.descripcion__proyecto {
    position: absolute;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    // size 
    width: 108%;
    height: 105%;
    top: 0;
    // color
    background-color: #131e4098;
    transition: all 0.3s ease;
    p {
        padding-top: 7rem;
        color: $color3;
    }
}
.proyectos--modificacion:hover .descripcion__proyecto {
    visibility: visible;
    opacity: 1;
    transform: translateY(-6px);    

}
// section skill
.conocimientos--modificacion {
    display: flex;
    justify-content: space-between;
}
.conocimientos--size {
    margin-left: 5rem;
    padding-top: 300px;
}
.text__conocimiento {
    
    p {
        color: $color3;
    }
}
// link cv
.linkVerCv {
    width: 5rem;
    height: 1.5rem;
    border-radius: 5px;
    text-align: center;
    // color
    background-color: $color4;
    box-shadow: 0px 0px 0px 0px $color4;
    a {
        text-decoration: none;
        color: $color1;
    }
    // animate 
    transition: all 0.3s ease;
}
.linkVerCv:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 15px 0px $color4;

    a {
        color: $color1;
    }
}
.linkVerCv:active {
    transform: translateY(3px);
    box-shadow: 0px 0px 0px 0px $color4;
}
// skill 
.skill__lec {
    min-width: 50%;
    // color
    color: $color4;
}
.skill__tec {
    min-width: 50%;
    // color
    color: $color4;
}

.img__skill--modificacion {
    // grid
    display: grid;
    grid-auto-rows: 6rem;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));

    div {
        margin-bottom: 20px;
        
    }
    div img {
        width: 5rem;
        height: 5rem;
        border-radius: 10px;
    }
}
